@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
	--svgcolor: white;
	--svgColorHover: #d7263d;
	/* transition: fill 0.2s ease-in-out; */
}
:root:hover {
	--svgColorHover: #d7263d;
}
path {
	transition: fill 0.2s ease-in-out;
}
path:hover {
	fill: var(--svgColorHover);
	transition: fill 0.2s ease-in-out;
}
.svgIconsHover {
	transition: fill 0.2s ease-in-out;
}
.svgIconsHover:hover {
	fill: var(--svgColorHover);
	transition: fill 0.2s ease-in-out;
}
